body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f7f9fc;
  font-family: 'Poppins', sans-serif;
}

html {
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #0d47a1;
  text-align: center;
  display: block;
  margin: 10px 0 0;
}

input:focus {
  outline: none;
}

label {
  margin: 0 0 0 10px;
  color: grey;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input {
  display: block;
  height: 20px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 180px;
}

h2 {
  text-align: center;
  color: #0d47a1;
}

h3 {
  text-align: center;
  color: grey;
}

select {
  background: #fff;
  height: 30px;
  display: block;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  width: 180px;
}

select:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

textarea {
  width: 400px;
  height: 150px;
}

form {
  width: 200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}
