.gradle
.idea
.vagrant

gradle
gradlew
gradlew.bat
build

*.log

# dependencies
/client/node_modules

# testing
/client/coverage

# production
/client/build

# misc
.DS_Store
/client/.env
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/todos.md

