.select-full {
  width: 100%;
}

.members-list {
  width: 600px;
  margin: 0 auto;
}

.members-list ul {
  margin: 0;
}

.list-header {
  text-transform: capitalize;
}

.members form {
  width: 100%;
}

.member-item {
  display: flex;
  flex-direction: row;
}

.email-cell {
  padding: 0 0 0 15px;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  width: 60%;
}

.email-cell p {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

.access-select {
  width: 40%;
}

@media (max-width: 640px) {
  .members-list {
    width: 100%;
  }
}
