.primary {
  width: auto;
  padding: 0 15px;
  background: #0d47a1;
  border: none;
  height: 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 15px auto;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}

.error {
  width: auto;
  padding: 0 15px;
  background: red;
  border: none;
  height: 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 15px auto;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}

.success {
  width: auto;
  padding: 0 15px;
  background: green;
  border: none;
  height: 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 15px auto;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}
