.create-event form {
  width: 100%;
}

.is-recurring select {
  float: left;
  margin: 0 10px;
  width: 170px;
}

.is-recurring {
  width: 100%;
  overflow: auto;
}

.create-event input[type=text], .create-event input[type=file] {
  margin: 0 0 0 10px;
  float: left;
  display: block;
  width: 300px;
}

.create-event label {
  display: block;
}

.create-event .error-list {
  margin: 40px 0;
}

.create-event textarea {
  margin: 0 0 0 10px;
}

.react-date-field__input {
  width: 10px;
}

.react-date-field--theme-default {
  border: 1px solid darkgray;
  margin: 0 0 0 10px;
}

.react-date-field--theme-default input[type=text] {
  width: 110px;
}

.create-event input[type=submit] {
  margin: 35px auto;
}

@media (max-width: 475px) {
  .create-event textarea {
    width: 90%;
  }
  .create-event form {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .create-event input[type=text], .create-event input[type=file] {
    width: 90%;
  }
  .react-date-field--theme-default {
    width: 90%;
  }
}
