.login {
  background: #fff;
  border: 1px solid lightgrey;
  border-radius: 3px;
  max-width: 450px;
  min-height: 200px;
  margin: 150px auto;
  padding: 25px 25px 10px;
}

.login input {
  display: block;
  height: 20px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 180px;
}

.login label {
  margin: 0 0 0 10px;
  color: grey;
}

.login input:focus {
  outline: none;
}

.login button {
  background: #0d47a1;
  border: none;
  height: 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 15px auto;
  display: block;
}

.login button:hover {
  cursor: pointer;
}

.login button:focus {
  outline: none;
}

.login form {
  width: 200px;
  margin: 0 auto;
}

.login h2 {
  margin: 0 0 10px;
  text-align: center;
  color: #0d47a1;
}

.login a {
  text-decoration: none;
  color: #0d47a1;
  text-align: center;
  display: block;
  margin: 10px 0 0;
}

.login a:hover {
  text-decoration: underline;
}
