.select-full {
  width: 100%;
}

.members-list {
  width: 600px;
  margin: 0 auto;
}

.members-list ul {
  margin: 0;
}

.members table {
  width: 600px;
  margin: 0 auto;
}

.members form {
  width: 100%;
}

.member-item {
  display: flex;
  flex-direction: row;
}

.members th {
  background: #0d47a1;
  color: #fff;
  border: 1px solid lightgrey;
}

.email-cell {
  padding: 0 0 0 15px;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  width: 60%;
}

.email-cell p {
  margin: 0;
}

.access-select {
  width: 40%;
}

@media (max-width: 640px) {
  .members table {
    width: 100%;
  }
}
