.list-header {
  background: #0d47a1;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.list-header p {
  margin: 5px;
}

.event-item {
  border-bottom: 1px solid lightgrey;
}

.event-item p {
  margin: 0 0 0 10px;
  display: inline;
}

.item-action-container {
  width: 50%;
  float: right;
  padding: 0 10px;
}

.item-action-container a {
  display: inline;
  float: right;
  margin: 0 25px
}

.error {
  color: red;
}

.success {
  color: green;
}

@media (max-width: 580px) {
  .item-action-container a {
    margin: 0 5px;
  }
}

@media (max-width: 430px) {
  .item-action-container {
    float: none;
    margin: 0 auto;
    width: 150px;
  }
  .item-action-container a {
    float: none;
  }
  .event-item p {
    text-align: center;
    display: block;
    margin: 0;
  }
}
