.large {
  max-width: 900px;
  margin: 25px auto;
  background: #fff;
  border-radius: 3px;
  height: 100%;
  border: 1px solid lightgrey;
  padding: 20px;
}

.small {
  background: #fff;
  border: 1px solid lightgrey;
  border-radius: 3px;
  max-width: 450px;
  min-height: 200px;
  padding: 25px 25px 10px;
}

.small h2 {
  margin: 0 0 10px;
}
