.pending-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  align-items: center;
}

.pending-view form {
  width: 100%;
}

.pending-view input[type=checkbox] {
  width: 20px;
  background: #fff;
}
.pending-item p {
  margin: 0 15px
}

.email {
  width: 10%;
}

.approve-action {
  width: 50px;
}

.recurring input {
  width: 20px;
  float: left;
  margin: 0 10px;
}

.recurring {
  float: left;
  width: 100%;
}

.pending-view .list-header {
  justify-content: space-between;
}

.approve {
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid grey;
  border-radius: 3px;
  position: relative;
}

.approve:active, .approve:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.approve:checked {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #1565c0;
}

.approve:checked:after {
	content: '\2714';
	font-size: 18px;
	position: absolute;
	top: -5px;
	left: 2px;
	color: #1565c0;
}

@media (max-width: 880px) {
  .pending-item {
    flex-direction: column;
    text-align: center;
  }
  .email {
    width: auto;
  }
}

@media (max-width: 1000px) {
  .pending-item {
    width: 100%;
  }
  .list-header {
    width: 100%;
  }
}
