.menu-btn div {
  width: 30px;
  height: 3px;
  background-color: #e3f2fd;
  margin: 6px 0;
  transition: 0.4s;
}

.menu-btn:focus {
  outline: none;
}

.responsive-menu{
	display: none;
}

.responsive-menu.expand {
  width: 250px;
  background: #1565c0;
  margin: 50px 0;
  position: absolute;
  right: 0;
  border-bottom: 1px solid #e3f2fd;
  border-left: 1px solid #e3f2fd;
  color: #e3f2fd;
  font-weight: bold;
  z-index: 10;
}

.menu-link {
  margin: 0;
  color: #e3f2fd;
}

.menu-link:visited {
  color: #e3f2fd;
}

.menu-link:hover {
  text-decoration: none;
}

.menu-btn {
  width: 25px;
  float: right;
  margin: 6px 20px;
  display: inline-block;
  cursor: pointer;
}

.expand {
	display: block !important;
}

.expand ul {
  list-style-type: none;
  padding: 0;
}

.expand li {
  text-align: center;
}

.expand li:hover {
  background: #0D47A1;
  cursor:pointer;
}

/* Rotate Bar1 */
.change .bar1 {
  -webkit-tranform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out bar2 */
.change .bar2 {
  opacity: 0;
}

/* Rotate Bar3 */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-7px, -4px);
}


@media (max-width: 420px) {
  .responsive-menu.expand {
    width: 100%;
  }
}
