.topbar {
  height: 50px;
  background: #0d47a1;
}

.brand a {
  float: left;
  font-weight: bold;
  margin: 12px 0 0 25px;
  color: #e3f2fd;
}

.brand a:hover {
  text-decoration: none;
}

.topbar select {
  float: right;
  background: #1565c0;
  margin: 10px;
  height: 25px;
  width: 120px;
  border: 1px solid #1565C0;
  color: lightblue;
  font-size: 16px;
  padding-left: 10px;
}

@media (max-width: 370px) {
  .brand {
    display: none;
  }
  .topbar select {
    float: left;
  }
}
